[defaults]
inventory = inventory.ini
gathering = smart
fact_caching = community.general.redis
fact_caching_connection = localhost:6379:0
fact_caching_prefix = ansible_facts_
fact_caching_timeout = 86400
